#registerDiv{
    position: relative;
	top: 0;
    left: 0px;
    width: 100%;
    background: transparent linear-gradient(120deg, #5CE6A7 0%, #B0DEBB 22%, #878282 78%, #707070 96%, #F29422 100%) 0% 0% no-repeat padding-box;
}

.img-small{
    position: relative;
    top: 60px;
    width: 400px;
    height: 260px;
    left: 60px;  
}
.img-small-overlap{
    position: relative;
    top: -70px;
    width: 400px;
    left: -100px;
    height: 260px;  
    z-index: 1;
}

.form-control{
	background-color: transparent;
	border-bottom: 3px solid #F29422;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.form-control:focus{
    /* border: none; */
    box-shadow: none !important;
}

::-webkit-input-placeholder { /* Edge */
    color: #84BFBF;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #84BFBF;
  }
  
  ::placeholder {
    color: black;
  }

  .white-text{
    color: #FFFFFF;
}

.btn{
	color: #FFFFFF;
	background: #5E5347 0% 0% no-repeat padding-box;
	border: 1px solid #43425D;
}

input.ng-touched.ng-invalid{
    border-color: #dc3545;
}

input.ng-valid{
    border-color: #28a745;
}