<!-- Footer -->
<footer id="footer" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- footer logo -->
            <div class="col-md-6">
                <div class="footer-logo">
                    <h4><a class="logo" href=#>HosteLite</a></h4>
                </div>
            </div>
            <!-- footer logo -->
            <!-- footer nav -->
            <div class="col-md-6">
                <ul class="footer-nav">
                    <li><a href=#>Home</a></li>
                    <li><a href=#>About</a></li>
                    <li><a href=#>Hostels</a></li>
                    <li><a href="#">Roomies</a></li>
                    <li><a href="#">Community</a></li>
                </ul>
            </div>
            <!-- /footer nav -->
        </div>
        <!-- /row -->
        <!-- row -->
        <div id="bottom-footer" class="row">
            <!-- social -->
            <div class="col-md-4 col-md-8 ml-auto">
                <ul class="footer-social">
                    <li><a href="#" class="facebook"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="google-plus"><i class="fab fa-google-plus"></i></a></li>
                    <li><a href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" class="youtube"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!-- /social -->
            <!-- copyright -->
            <div class="col-md-8 col-md-4">
                <div class="footer-copyright">
                    <span>&copy; Copyright 2018. All Rights Reserved. Moohdycept</span>
                </div>
            </div>
            <!-- /copyright -->
        </div>
        <!-- row -->
    </div>
    <!-- /container -->
</footer>
<!-- /Footer -->