.vl  .card{
      width: 12rem;
      height: 10rem;
      background-color: #04BFBF;
  }

  .img-small{
    width: 265px;
    height: 180px;
    border-radius: 5px;
  }  

  .card{
    width: 18rem;
    height: 12rem;
    border: none;
  }

  .card-title.ml{
    margin-left: -14px;
    margin-top: 0;
  }
  .card-text.ml{
    margin-left: -14px;
    margin-top: 0;
  }

  hr{
    margin-left: -14px;
    width: 256px;
  }

  .col-md-3.mt-3.mb-5{
    margin-bottom: 7rem !important;
  }

.btn-primary{
    position:relative;
    display:inline-block;
    padding:10px 30px;
    background-color: #F29422;
    border: 2px solid transparent;
    color: #FFFFFF;
    border-radius: 40px;
    margin-top: 5px;
    -webkit-transition:0.2s all;
    transition:0.2s all;
  }
  
.btn-primary:hover{
    background-color:#fff;
    border: 2px solid #FF6700;
    color:#FF6700;
    padding-right: 45px;
  }
  
  
.btn-primary:after {
    content:"\f178";
    font-family:FontAwesome;
    position:absolute;
    width: 30px;
    right: 15px;
    text-align:center;
    opacity:0;
    -webkit-transition:0.2s all;
    transition:0.2s all;
  }
  
.btn-primary:hover:after{
    opacity:1;
  }

  .counters{
    background-color: rgb(214, 198, 198);
  }

  .course {
    margin-top:20px;
    margin-bottom:20px;
  }
  
  .course .course-img {
    position: relative;
    display:block;
    margin-bottom:20px;
    border-radius:4px;
    overflow:hidden;
  }
  
  .course .course-img > img {
    height: 20em;
    width:100%;
  }
  
  .course-img:after {
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background-color:#FF6700;
    opacity:0;
    -webkit-transition:0.2s opacity;
    transition:0.2s opacity;
  }
  
  .course .course-img:hover:after {
    opacity:0.7;
  }
  
  .course .course-img .course-link-icon {
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50% , calc(-50% - 15px));
        -ms-transform: translate(-50% , calc(-50% - 15px));
            transform: translate(-50% , calc(-50% - 15px));
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    border:2px solid #fff;
    color:#fff;
    border-radius:50%;
    opacity:0;
    z-index:10;
    -webkit-transition:0.2s all;
    transition:0.2s all;
  }
  
  .course .course-img:hover .course-link-icon {
    -webkit-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
    opacity:1;
  }
  
  .course .course-title {
    display:block;
    height:42px;
  }
  
  .course .course-details {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #EBEBEB;
  }
  
  .course .course-details .course-price {
    float: right;
  }
  
  .course .course-details .course-price.course-free {
    color: green;
  }
  
  .course .course-details .course-price.course-premium {
    color: #FF6700;
  }
  
  #courses .center-btn {
    text-align:center;
    margin-top:40px;
  }