<div class="container-fluid">
    <div>
        <h4 class="mt-5 text-center">Explore Hostels</h4>
        <div class="row">
            <div  class="col-md-2 vl">
                <div class="row">
                    <div class="col-md-12 mb-3 mt-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Our Story</h5>
                                <p class="card-text pt-3">1000 Users</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Our Story</h5>
                                <p class="card-text pt-3">3000 Hostels</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Our Story</h5>
                                <p class="card-text pt-3">800 Institutions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
</div>
