<div class="container-fluid" id="welcome">
    <div class="container-fluid bg-image overlay" >
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h4>Welcome to HosteLite</h4>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                    consequat. Duis aute irure dolor in reprehenderi
                </p>
            </div>
        </div>
        <div class="container">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-3 mt-3">
                        <i class="fas fa-hotel fa-7x"></i>
                    </div>
                    <div class="col-sm-9">
                        <h4>Hostels</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                    <div class="col-sm-3 mt-3">
                        <i class="fas fa-bed fa-4x"></i>
                    </div>
                    <div class="col-sm-9">
                        <h4>Roomies</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                    <div class="col-sm-3 mt-3">
                        <i class="fas fa-user-tie"></i>
                    </div>
                    <div class="col-sm-6">
                        <h4>Landlords</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
                    </div>
                    <div class="col-sm-3 mt-3">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="col-sm-9">
                        <h4>Community</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>