<div class="container-fluid" id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-header">
                    <h2 class="text-center">Welcome to HosteLite</h2>
                    <p class="text-center"><i>HosteLite Boarding Services</i></p>
                </div>
                <!-- feature -->
                <div class="feature">
                    <i class="feature-icon fas fa-building"></i>
                    <div class="feature-content">
                        <h4> Hostels </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequa.
                        </p>
                    </div>
                </div>
                <!-- /feature -->
                <!-- feature -->
                <div class="feature">
                    <i class="feature-icon fa fa-user"></i>
                    <div class="feature-content">
                        <h4>Landlords</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequa.
                        </p>
                    </div>
                </div>
                <!-- feature -->
                <div class="feature">
                    <i class="feature-icon fa fa-users"></i>
                    <div class="feature-content">
                        <h4>Roomies</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequa.
                        </p>
                    </div>
                </div>
                <!-- /feature -->
                <!-- feature -->
                <div class="feature">
                    <i class="feature-icon fa fa-comments"></i>
                    <div class="feature-content">
                        <h4>Community</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequa.
                        </p>
                    </div>
                </div>
                <!-- /feature -->
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <img class="img-small img-fluid" src="assets/images/register-side.jpg">
                <img class="img-small-overlap img-fluid" src="assets/images/register-side.jpg">
                <h3 class="text-center">Find HosteLite services here:</h3>
                <ul class="text-center ml-0">
                    <li>Federal University of Benin, Benin City, Edo state</li>
                    <li>Federal University of Benin, Benin City, Edo state</li>
                    <li>Federal University of Benin, Benin City, Edo state</li>
                    <li>Federal University of Benin, Benin City, Edo state</li>
                    <li>Federal University of Benin, Benin City, Edo state</li>
                    <li>Federal University of Benin, Benin City, Edo state</li>
                </ul>
            </div>
        </div>
    </div>
</div>