#welcome {
    position:relative;
}

.bg-image {
	position:relative;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-image: url(/assets/images/RepeatGrid2.png);
	background-position:center;
	background-size:contain;
	background-attachment:fixed;
	margin-top: -75px;
}

.bg-image2 {
	position:relative;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-image: url(/assets/images/smile2.png);
	background-position:center;
	background-size:contain;
	background-attachment: scroll;
	width: 2000px;
	height: 200px;
	margin-left: -20px;
}