#welcome {
    position:relative;
}

.feature {
	position:relative;
}

.feature  {
	margin-top:40px;
}

.feature .feature-icon {
	position:absolute;
	left:0;
	top:0;
	width:80px;
	height:80px;
	line-height:80px;
	text-align:center;
	border-radius: 50%;
	font-size:30px;
	border:1px solid rgb(71, 70, 70);
	color:#FF6700;
}

.feature-content {
	padding-left:100px;
}


.section-header {
	margin-bottom:40px;
}

.img-small{
    position: relative;
    top: 60px;
    width: 400px;
    height: 260px;
    left: 60px;  
}
.img-small-overlap{
    position: relative;
    top: -70px;
    width: 400px;
    left: -100px;
    height: 260px;  
    z-index: 1;
}
