<div class="card bb-4">
    <div class="card-img-wrapper">
        <img class="card-img-top" src="{{ user.PhotoUrl}}">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-iem"><button class="btn btn-primary"><i class="fa far-user"></i></button></li>
            <li class="list-inline-iem"><button class="btn btn-primary"><i class="fa far-heart"></i></button></li>
            <li class="list-inline-iem"><button class="btn btn-primary"><i class="fa far-envelope"></i></button></li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1"><i class="fa fa-user"></i>{{user.Firstname}} {{user.Age}}</h6>
        <p class="card-text text-muted text-center">{{user.gender}} {{user.Datejoined}}</p>
    </div>
</div>