<div class="card bb-4">
    <div class="card-img-wrapper">
        <img class="card-img-top" src="{{ user.PhotoUrl}}">
        <ul class="list-group list-group-horizontal member-icons animate"> 
            <li class="list-group-item"><button class="btn btn-primary" [routerLink]="['/hostelites/', user.Id]"> <span style="color: rgb(236, 155, 141);"><i class="fas fa-user"></i></span></button></li>
            <li class="list-group-item"><button class="btn btn-primary"><i class="far fa-heart"></i></button></li>
            <li class="list-group-item"><button class="btn btn-primary"><i class="far fa-envelope"></i></button></li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1"><i class="fa fa-user"></i>{{user.Firstname}} {{user.Age}}</h6>
        <p class="card-text text-muted text-center">{{user.gender}} {{user.Datejoined}}</p>
    </div>
</div>