<app-navbar></app-navbar>
<app-hero-section></app-hero-section>
<!-- Blog -->
<div id="blog" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
            <div class="row mt-3">
                <!-- main blog -->
                <div id="main" class="col-md-9">
                    <!-- row -->
                    <div class="row">
                        <!-- single blog -->
                        
                            <div class="col-md-6">
                                <div class="course">
                                    <a href=# class="course-img">
                                        <img src="">
                                        <i class="course-link-icon fa fa-link"></i>
                                    </a>
                                    <a href=# class="course-title"></a>
                                    <div class="course-details">
                                        <span class="course-category"></span>
                                        <span class="course-price course-free"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- /single course -->
                    
                    </div>
                </div>
        
            
        
            <!-- aside blog -->
            <div id="aside" class="col-md-3">
                <!-- category widget -->
                <div class="widget category-widget">
                    <h3>Categories</h3>
                    <a class="category" href="#">Self cont. <span>12</span></a>
                    <a class="category" href="#">One-Room apt' <span>5</span></a>
                    <a class="category" href="#">Flat <span>24</span></a>
                    <a class="category" href="#">School Hostels <span>78</span></a>
                </div>
                <!-- /category widget -->
                <!-- posts widget -->
                <div class="widget posts-widget">
                    <h3>Recent Roomies</h3>
                    <!-- single posts -->
                    <div class="single-post">
                        <a class="single-post-img" href=#>
                            <img src=# alt="">
                        </a>
                        <a href=#>jasmine looking for roomie.</a>
                        <p><small>By : John Doe .18 Oct, 2017</small></p>
                    </div>
                    <!-- /single posts -->
                </div>
                <!-- /posts widget -->
                <!-- tags widget -->
                <div class="widget tags-widget">
                    <h3>Tags</h3>
                    <a class="tag" href="#">19th Street</a>
                    <a class="tag" href="#">Ekosodin</a>
                    <a class="tag" href="#">One-Room</a>
                    <a class="tag" href="#">N50,000</a>
                    <a class="tag" href="#">Green Roof Estate</a>
                </div>
                <!-- /tags widget -->
            </div>
            <!-- /aside blog -->
        
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- /Blog -->
<app-page-footer></app-page-footer>