.white-text{
    color: #FFFFFF;
}
nav{
	background-color: transparent;	
	z-index: 1;
}

#navbar-brand{
    font: normal bold 24px/32px 'Playfair Display',serif;
	color:#FF6700 !important;
	text-transform: uppercase;
	top: 25px;
	left: 277px;
	width: 130px;
	height: 32px;
	text-align: left;
	letter-spacing: 0;
	opacity: 1;
}

#navbarSupportedContent a{
	font: normal 600 14px/32px 'Playfair Display', sans-serif;
    text-decoration: none;
	outline: none;
    color: #FFFFFF !important;
    text-transform: uppercase;
	top: 25px;
	height: 32px;
	text-align: left;
	letter-spacing: 0;
	opacity: 1;
	margin-bottom: 5px;
}

hr{ 
	position: relative;
	top: 5px;
	display: block;
	margin-bottom: 0.2em;
	margin-left: auto;
	margin-right: auto;
	border-style: groove;
	border-width: 0.3px;
	border-color: #FFFFFF;
	z-index: 1;
  } 

#hero-image-div{
	position: relative;
	width: 100%;
	height:calc(100vh - 80px);
	padding: 0;
	top: -75px;
}

.bg-image {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-image: url(/assets/images/home_background-old.jpg);
	background-position:center;
	background-size:contain;
	background-attachment:fixed;
}

.bg-image.overlay:after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-image: linear-gradient(to bottom, #292929 0%, #332f2f 100%);
	opacity: 0.8;
}

#hero-image-contents{
	position: relative;
	top: 200px;
	height:calc(100vh - 281px);
	color: #FFFFFF !important;
	overflow: hidden;
	z-index: 1;
	padding: 5px 1px;
}

#hero-image-contents h1{
	color: #FFFFFF;
}

#hero-image-slogan{
	line-height: 1px;
	margin-bottom: 30px;
}

#hero-image-contents .form-control{
	border-radius: 25px;
	border: 1px solid #F29422;
	margin-top: -14px;
	font-size: 14px;
}

#hero-image-contents .btn-primary{
	position:relative;
	display:inline-block;
	padding:10px 30px;
	background-color: #F29422;
	border: 2px solid transparent;
	color: #FFFFFF;
	border-radius: 40px;
	margin-top: 5px;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

#hero-image-contents .btn-primary:hover{
	background-color:#fff;
	border: 2px solid #FF6700;
	color:#FF6700;
	padding-right: 45px;
}


#hero-image-contents .btn-primary:after {
	content:"\f178";
	font-family:FontAwesome;
	position:absolute;
	width: 30px;
	right: 15px;
	text-align:center;
	opacity:0;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

#hero-image-contents .btn-primary:hover:after{
	opacity:1;
}